* {
  box-sizing: border-box;
}

html {
  --bg: #fff;
  --fg: #25282A;
  --gray: #888;
  --royal: #0072CE;
  --blue: #6AD1E3;
  --primary: #D1CCBD;
  --secondary: var(--royal);
  --tertiary: #FF585D;

  background-color: var(--bg);
  color: var(--fg);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: calc(.65em + 0.7vw);
  line-height: 1.3;

  ::selection {
    background: var(--secondary);
    color: var(--bg);
  }

  @media (prefers-color-scheme: dark) {
    --bg: #25282A;
    --fg: #fff;
    --secondary: var(--blue);

    ::selection {
      background: var(--secondary);
      color: var(--fg);
    }
  }
}

body {
  margin: 0 auto;  
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.highlight {
  align-items: center;
  display: flex;
  margin-bottom: 0.5em;
  width: 100%;
  label {
    margin-right: 0.5em;
  }
  input {
    caret-color: var(--secondary);
  }
}

label {
  color: var(--gray);
}

button, .highlight {
  border-radius: 5px;
  border-color: var(--primary);
  border: 0.1em solid var(--primary);
  padding: 0.5em 1em;

  &:hover, &:focus, &:focus-within {
    border-color: var(--secondary);
  }
}

input {
  border: none;
  flex: 1;
  &:read-only {
    color: var(--primary)
  }
}

input[type="number"] {
  text-align: center;
  border-bottom: 0.1em solid var(--primary);
  margin: 0 1em;
  width: 4em;
  padding-left: 0.5em;
  &:hover, &:focus {
    border-color: var(--secondary);
  }
}

button, input {
  background: transparent;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
}

button {
  position: relative;
  transition: top 50ms;
  &:hover, &:focus {
    top: -1px;
  }
  &:active {
    background: var(--secondary);
    border-color: var(--secondary);
    top: 1px;
  }
}

.is-premium {
  border-left: 0.25em solid var(--secondary);
  padding-left: 0.25em;
  margin-left: -0.5em;
}
.pdp-container {
  display: flex;
}
.pdp-left {
  width: 50%;  
}
.pdp-right {
  width:50%;
}
.product-img { 
  width:100%;
  margin:0 auto;
}
.product-img img{ 
  width:90%;
  margin:0 auto;
}
.product-name {
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 1;
  padding: 0 0 10px 0;
}
.product-price {
  color: #2291e7;
  padding-bottom: 10px;
}
.pdp-field-title {
  color:black;
  font-weight: 500;
}
.pdp-line {
  padding:4px  0;
}
.highest {
  color: red;
  font-size: 40px;
  padding-left: 5px;
  font-weight: bold;
}
.joiner-and-bid {
  clear: both;
  display: flex;
  padding: 15px;
  border-top: 1px dashed #d1d1d1;
  margin-top: 20px;
}
.products-item-bidders {
  width: 50%;
}
.joiner-bid-container {
  width: 50%;
  box-shadow: 0px 3px 6px #888888;
  padding: 10px;
}
.bid-area {
  display: flex;
  border-bottom: 1px dashed #d5d3d3;
  padding-bottom: 12px;
}
.pdp-price-to-bid {
  width: 65%;
  padding: 9px 0;
}
.pdp-bid-btn {
  width:30%;
}
.bid-joiner-name {
  float:left;
  font-weight: bold;
  color: #d15454;
  font-size: 26px;
}
.bid-joiner-price {
  float:right;
  color: #d15454;
  font-size: 26px;
}
.bid-joiner-time {
  clear:both;
  display: block;
  font-size: 16px;
  padding-top: 10px;
}
.joiner-bid-list-item {
  padding: 10px;
  border-bottom: 1px dashed #d5d3d3;
}
.pdp-refund-btn {
  font-size: 12px;
  padding: 3px;
  margin-left: 10px;
}