body {
    margin: 0;
}

.app {
    display: flex;
    min-height: 100vh;
    padding-top:50px;
    &__sidebar {
        flex: 0 0 20%;
        background-color: #b2daf9;
        padding-top: 25px;
        position: fixed;
        height: 100%;
        width: 250px;
    }

    &__content {
        flex: 1;
        padding: 40px;
        margin-left: 250px;
    }
}
.header {
    height: 50px;
    display: flex;
    background: #d15454;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    .header-logo {
        flex: 0 0 20%;        
        color: #fff;
        text-transform: uppercase;        
        text-align: center;
        font-size: 35px;
    }
    .header-breadcumbs {
        padding: 10px;
        text-align: center;
        width: 60%;
        color: white; 
    }
    .header-account {
        flex: 0 0 20%; 
        color: white;
        padding:10px;
        text-align: right;
        a {
            text-decoration: none;
            color:white;
        }
    }
}
.products-item {
    float: left;
    width: 30%;
    margin: 10px 1.5%;
    box-shadow: 0px 3px 6px #888888;
    padding: 20px;
    .products-item-id {
        font-weight: bold;
    }
    .products-item-desc {
        
    }
    .products-item-img {
        width: 100%;
        padding: 10px 0;
    }
    .products-item-img img{
        width: 100%;
        margin: 0 auto;
        height: 310px;
    }
    .products-item-price {
        
    }
    
}
.admin {
    background-color: red;
}
